[submodule "DirectXShaderCompiler"]
	path = DirectXShaderCompiler
	url = https://github.com/farzonl/DirectXShaderCompiler.git
[submodule "win32"]
	path = win32
	url = https://github.com/farzonl/win32.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
